@font-face {
    font-family: 'Feather';
    src: url(./fonts/feather.ttf) format('ttf'),
         url('./fonts/fa-regular-400.woff2') format('woff2');
}

body {
    background-color: #F5F4F8;
    font-family: 'Feather', sans-serif;
}

/* NAVBAR */
nav {
    background-color: #fff;
}

.nav-btn {
    border: none;
    background-color: transparent;
}

.bell-icon {
    background-color: #F5F4F8;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    position: relative;
}

.bell-badge {
    width: 9px;
    height: 9px;
    padding: 0;
    background-color: #7550FE;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
  }

.nav-avatar {
    width: 35px;
    height: 35px;
    position: relative;
}

.nav-badge {
    width: 9px;
    height: 9px;
    padding: 0;
    background-color: #1ACB98;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
  }

/* HERO AND SUB-HERO */
.hero {
    background-color: #7550FE;
    color: #BCA8FF;
}

.hero h1 {
    color: #fff;
    font-weight: 700;
}

.btn-green {
    border: none;
    background-color: #1ACB98;
    padding: 10px;
    color: #fff;
    font-weight: 700;
}

.btn-white {
    border: none;
    background-color: #fff;
    padding: 10px;
    color: #000;
    font-weight: 700;
}

.subhero {
    border-bottom: 1px solid rgb(221, 219, 219);
    background-color: #fff;
}

.subhero-icon {
    background-color: #FFEEDA;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.sub-hero-text p {
    margin: 0;
    color: #5C5776;
}

.sub-hero-text span {
    font-weight: 700;
    color: #000;
}

/* CARDS */
.card-body h6 {
    font-size: 15px;
    font-weight: 700;
}

.h6-ellipses {
    white-space: nowrap;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.course-description {
    font-size: small;
}

.stars {
    color: #FFAA46;
}

.reviews {
    color: #A8A3B9;
}

.on-sale {
    text-decoration: line-through;
    color: #A8A3B9;
}

.current-price {
    font-weight: 700;
    font-size: 15px;
}

.border-avatar {
    border-top: 1px solid rgb(221, 219, 219);
    padding-bottom: 10px;
}

.avatar-name {
    font-size: small;
}

/* CARD ANIMATIONS */
.card-hover:hover {
    animation: cardHover 1s ease-in forwards;
    transform: scale(1.1);
    box-shadow: 10px #5C5776;
}

@keyframes cardHover {
    0% {
        transform: scale(1) !important;
        box-shadow: 0 #5C5776;
    }
    100% {
        transform: scale(1.1) !important;
        box-shadow: 10px #5C5776;
    }
}

.save-btn:hover {
    animation: saveButtonHover 1s linear forwards;
}

@keyframes saveButtonHover {
    from {
        background-color: white;
    }
    to {
        background-color: #5C5776;
    }
}

/* FOOTER */
.text-color {
    color: #5C5776;
}

