body {
    background-image: url("./assets/bg.jpg");
    background-size: cover;
    height: 100vh;
    padding: 0;
    margin: 0;

}

.logo {
    width: 200px;
    height: 45px;
    margin: 20px 0 0 50px;
}

.main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px;
}

/* Welcome page CSS*/
.welcome-h1 {
    color: white;
    font-family: 'Outfit', sans-serif;
    font-size: 60px;
    margin: 40px 0 40px 80px;
}

#instructionsDiv {
    margin: 80px;
}

.instructions-h3 {
    color: #d20094;
    font-family: 'Inter', sans-serif;
}

p {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 16px;
}

li,
.proceed-chechbox {
    color: white;
    font-size: small;
    font-family: 'Inter', sans-serif;
    line-height: 25px;
}

.proceed-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

#checkboxId {
    background-color: #0C113B;
    accent-color: #00ffff;
    border: 1px solid white;
}

.proceed-button {
    background-color: #00ffff;
    border: none;
    width: 200px;
    height: 40px;
    box-shadow: 3px 3px 3px 3px rgb(0,255,255);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: bold;
}


/* Questions page CSS */
h2 {
    color: white;
    font-family: 'Outfit', sans-serif;
    font-size: 60px;
    margin: 0 0 50px 0;
    text-align: center;
}

form {
    width: 600px;
    height: 150px;

}

.answers-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.answer-container {
    border: 1px solid white;
    width: calc(40%);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer-container:hover {
    background-color: #d20094;
    --edge-light: hsla(0, 0%, 50%, 1);
    text-shadow: 0px 0px 10px var(--text-light);
    box-shadow: inset 0.4px 1px 4px var(--edge-light),
        2px 4px 8px hsla(0, 0%, 0%, 0.295);
    transform: scale(1.1);
}

.isActive {
    background-color: #d20094;
}


.answer-container label {
    cursor: pointer;
    text-align: center;
    padding: 0;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding: 0;
}

input[type=radio] {
    display: none;
}


h4 {
    color: white;
    font-family: 'Inter', sans-serif;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 100;
}

h4 span {
    color: #d20094;
}

#submit {
    background-color: #00ffff;
    border: none;
    width: 600px;
    height: 50px;
    font-weight: bold;
    letter-spacing: 3px;
}

#submit:hover{
    background: linear-gradient(180deg, rgba(210, 0, 148, 1) 0%, rgba(144, 0, 128, 1) 100%);
    color: white;
    --edge-light: hsla(0, 0%, 50%, 1);
    text-shadow: 0px 0px 10px var(--text-light);
    box-shadow: inset 0.4px 1px 4px var(--edge-light),
        2px 4px 8px hsla(0, 0%, 0%, 0.295);
    transform: scale(1.1);
}

.timer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 8px solid #00ffff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: white;
    position: absolute;
    top: 60px;
    right: 60px;

}

/* Final results CSS */
.results-div {
    margin: 80px;
    text-align: center;
}

.results-h3 {
    color: white;
    font-family: 'Outfit', sans-serif;
    font-size: 30px;
}

