body {
    background-color: #74b9ff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-weight: 400;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.results {
    margin-top: 4px;
    margin-bottom: 0;
    text-align: center;
}

table,
th,
td {
  border: 1px solid #333;
}

tbody {
    white-space: wrap;
}