body{
    
    background-color: black;
}

.container_nav{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.box_section{
    font-size: 80%;
    color: white;
    margin-left: 0.7%;
}

.box_kids{
    margin-left: 0.8%;
    color: white;
    font-size: 80%;
}

main{
    padding-top: 0.8%;
    padding-left: 1.2%;
}

.container_main{
    display: flex;
    width: 100%;
    align-items: center;
}
.container_TV{
    color: white;
    font-size: 170%;
}

.container_genres{
    color: white;
    border: 1px solid white;
    margin-left: 1.4%;
    width: 4%;
}

.box_name{
    color: white;
}

.image_container{
   overflow: hidden;
    
}

.hover-zoom{
    transition: trasform 0.3 ease;
    height: 30%;
    width: 100%;
}

.hover-zoom:hover{
    transform: scale(1.1);
}

.row_style{
    margin-bottom: 1.9%;
    overflow-x: auto;
}

.row_title{
    margin-bottom: 0.5%
}




