body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fcf8f3;
    color: #1c1c1c;
}

nav img {
    width: 80px;
    height: 80px;
}

h1,h2,h3,h4,h5 {
    color: #347796;
}

.btn-outline-primary {
    border: 2px solid #347796;
    color: #1c1c1c;
    padding: 3px 6px;
}

.btn-outline-primary:hover {
    border: 2px solid white;
    background-color: #347796;
    color: white;
}

.daily-offer p{
    margin-bottom: 0;
}

.small--p {
    font-size: 12px;
}