body{
    height: 100%;
    margin: 0;
    
}

.container_main{
    background-image: url('home.jpg');
    height: 800px;
    background-size: cover;
    background-position:center;
}

#nav-main{
    height: 8%;
}

#nav-logo{
    margin-left: 5%;
}
#navbarNav{
    margin-left: 27%;
    height: 100%;
}

#navbarNav .nav-link{
    color: white;
}

.container_end{
    margin-right: 3%;
    display: flex;
    height: 100%;
    align-items: center;
    width: 25%;
}

#container-circus{
    border-radius: 500px;
    height: 100%;
    align-items: center;
    padding: 3%;
}

#container_data{
    height: 10%;
    width: 50%;
    border-radius: 500px;
}



.container_search{
    border-radius: 100%;
    background-color: red;
    width: 40%;
    height: 55%;
}

#container_center{
    width: 15%;
    margin-top: 10%;
    height: 30%;
    margin-left: 3%;
}


.Text_dimension{
    font-weight: bold;
    font-size: 470%;
    color: white;
    
}

#container_location{
    height: 150px;
}
