body {
    font-family: Cambria, serif;
}

a {
    color: #127878;
}

/* li giustifico in verticale e in orizzontale */
.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.logo {
    width: 150px;
}

.subtitle {
    background-color: #fdfbf1;
    width: 100%;
    text-align: center;
    color: #107777;
    border-top: 1px solid #fee8af;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/* questo elemento *contiene* la parte del testo, che è al 50% del main */
.container {
    width: 50%;
}

.container h1 {
    text-align: center;
    color: #333333;
    padding: 0px 40px 0px 40px;
}

.container img {
    max-height: 600px;
    width: 100%; /* larghezza full, ovvero tutto il riquadro */
    object-fit: cover;  /* usare una "porzione" dell'immagine */
    border-radius: 15px;
}

/* il tag figure ha dei margini arbitrari; se mi serve dovrò quindi settarli a 0, come in questo caso */
figure {
    padding: 0px;
    margin: 0px;
}

figcaption {
    text-align: center;
    color: #9e9e9e;
    margin-top: 10px;
}

.link-container {
    border-left: 1px solid #fee8af;
    padding-left: 20px;
    margin-top: 15px;
}

.link-container h4 {
    color: #b5460f;
    margin-bottom: 0px;
}

.ingredients, .method {
    border-bottom: 3px solid #eefbfb;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}