/* .container {
	display: grid;
    /* definire colonne */
	/* grid-template-columns: 1fr 1fr 1fr; */
	/* dire per ogni elemento quanto spazione deve occupare, si usa fraction */
	/* anche shortcut */
	/* grid-template-columns: repeat(3,1fr);
	grid-template-rows: 100px 200px; */
	/* anche shortcut */
	/* grid-auto-rows: 100px;
	gap: 20px; */
/* } */

/* posizionamento degli elementi */

/* .item {
    grid-column: span 2;
} */

/* .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 20px;
}

@media(max-width:500px){
    .container{
        grid-template-columns: 1fr;
    }
} */

/* non mischiare grid e flex */


/* ------ */

.container {
    display: grid;
    grid-template-areas:
        "header header header"
        "sidebar content content"
        "footer footer footer";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 1fr auto;
    height: 300px;
}

.header {
    grid-area: header;
    background-color: blue;
}

.sidebar {
    grid-area: sidebar;
    background-color: green;
}

.content {
    grid-area: content;
    background-color: yellow;
}

.footer {
    grid-area: footer;
    background-color: red;
}